html, body {
    font-family: "Poppins", sans-serif;
}

h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.0024em;
}

p, span, a {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
}

small {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.0024em;
}
