$primary-color: #E84C4F;
$secondary-color: #3E4462;
$third-color: #FFFFFF;

$text-dark: #3E4462;
$text-light: #FFFFFF;
$text-dark-secondary: #7E7E7E;
$text-light-secondary: #E5E5E5;

$divider: #E5E5E5;
$background: #F8F5F2;
$gold: #EDA345;
$inputs: #F7F7F7;
$success: #4caf50;
$error: #E84C4F;

$placeholder-animation: #d5d5d5;
$placeholder-background: #E5E5E5;

$app-vertical: 25px;
$app-horizontal: 20px;
$padding: 15px;
$toolbar: 64px;
